{
  "extends": ["react-app", "plugin:import/recommended"],
  "overrides": [
    {
      "files": ["**/*.ts?(x)"],
      "extends": ["plugin:import/typescript"],
      "settings": {
        "import/parsers": {
          "@typescript-eslint/parser": [".ts", ".tsx"]
        },
        "import/resolver": {
          "typescript": {
            "project": "."
          }
        }
      },
      "rules": {
        "no-console": [
          "warn",
          {
            "allow": ["error"]
          }
        ],
        "import/order": [
          "warn",
          {
            "pathGroups": [
              {
                "pattern": "*.module.css",
                "patternOptions": { "matchBase": true },
                "group": "index",
                "position": "after"
              }
            ],
            "groups": [
              ["builtin", "external"],
              "internal",
              ["parent", "sibling", "index"]
            ],
            "newlines-between": "always",
            "alphabetize": {
              "order": "asc",
              "caseInsensitive": false
            }
          }
        ],
        "react/jsx-sort-props": [
          "warn",
          {
            "callbacksLast": true,
            "shorthandFirst": true,
            "reservedFirst": true
          }
        ],
        "quotes": ["warn", "single"],
        "react/jsx-key": "warn"
      }
    }
  ]
}
